.DS_Store
*.DS_Store
**/*.DS_Store
**.DS_Store
__pycache__/
bin/
gui_tkinter/
pypi_package/dist/
pypi_package/MANIFEST.in
pypi_package/pyproject.toml
pypi_package/setup.cfg
pypi_package/src/utdate.egg-info/
pypi_package/src/utdate/bin/
pypi_package/src/utdate/include/
pypi_package/src/utdate/lib/NangateOpenCellLibrary_typical.lib
pypi_package/src/utdate/lib/ghdl/
pypi_package/src/utdate/lib/libghdl-2_0_0_dev.dylib
pypi_package/src/utdate/lib/libghdl.a
pypi_package/src/utdate/lib/libghdl.link
pypi_package/src/utdate/lib/libghdlvpi.dylib
pypi_package/src/utdate/lib/libghw.dylib
pypi_package/src/utdate/lib/python3.8/
pypi_package/src/utdate/removed.txt
pypi_package/src/utdate/share/